@import url("https://fonts.googleapis.com/css2?family=Sigmar&family=Ysabeau&display=swap");
:root {
    --border-color: #352208;
    --primary-color: #f28123;
    --secondary-color: #20A4F3;
    --accent1-color: #F5EE9E;
    --accent2-color: #D3FFE9;

    --heading-font: "Sigmar", sans-serif;
    --paragraph-font: "Ysabeau", sans-serif;
    
    --nav-background-color: #D3FFE9;
    --nav-link-color: #141B41;
    --nav-hover-link-color: #352208;
    --nav-hover-background-color: #D3FFE9;
}
* {
    max-width: 950px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    font-family: var(--paragraph-font);
    color: var(--border-color);
    padding: 1em;
}
nav {
    text-decoration: none;
    margin: 1em;
    font-size: 20px;
    display: flex;
}
.hero h1 {
    position: relative;
    font-family: var(--paragraph-font);
    color: var(--border-color);
    opacity: 0.9;
    top: 10px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}
.hero article {
    position: relative;
}
.hero img[src="images/rafting42_600.jpg"] {
    display: block;
    position: static;
    text-align: center;
}
.hero article img {
    display: block;
    float: right;
    position: relative;
    width: 100px;
    height: auto;
}
.hero section img {
    width: 400px;
    height: auto;
}
footer a img {
    width: 20px;
    height: auto;
}
header {
    background-color: var(--nav-background-color);
    display: grid;
    margin: 1em;
    border-bottom: 1px solid var(--border-color);
    grid-template-columns: 120px 1fr 2fr;
    align-items: center;
    max-width: 100%;
}
header img {
    width: 100px;
    height: auto;
}